<section class="hero is-large is-main has-background-dark-brown" style="background-image: url({{site.baseurl}}/assets/img/{{page.banner-image}})">
  <div class="hero-body">
    <div class="container" >
      <h1 class="title">
        VIRTUAL WPAFW
      </h1>
      <h2 class="subtitle">
        For 2020, WPAFW invites you to enjoy two days worth of programming and is taking donations for our charity, The Awesome Spirit of Wildlife! Visit us <a href="https://wpafw.org/live" target="_blank">here</a>.
      </h2>
    </div>
  </div>
</section>
