<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {% include head.html %}
</head>
<body>



<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ site.url }}">
        <img src="{{ site.url }}/assets/img/icon.png">
      </a>
      <a role="button" class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-success button__breather" href="https://www.paypal.com/biz/fund?id=XQGPBWU32ZV2Q" target="_blank">
              <strong>Donate to WPAFW/TSOAW</strong>
              <i class="fas fa-paw"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <p class="navbar-item" href="#">
          <a href="https://www.facebook.com/wpafw">
            <span class="fa-stack fa-1x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="https://twitter.com/wpafw">
            <span class="fa-stack fa-1x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="https://t.me/wpafw">
            <span class="fa-stack fa-1x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-telegram-plane fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="https://t.me/wpafwofficial">
            <span class="fa-stack fa-1x">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fas fa-bullhorn fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>
<section class="section main-content">
<div class="container ">
  <div class="columns">
    <div class="column is-12">
      {{ content }}
    </div>
  </div>
</div>
</section>
  {% include footer.html %}
</body>
</html>

